root = true

[*.{csproj,props,targets,config,nuspec}]
indent_size = 2
indent_style = space

[*]
charset = utf-8

[*.cs]
charset = utf-8
# IDE0090: 'new(...)' を使用する
dotnet_diagnostic.IDE0090.severity = silent
